.overview_panel img {
  width: 100%;
  border-radius: 4px;
}

.overview_panel {
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  background-color: var(--background-color-light);
}

.overview_name {
  text-align: center;
  font-size: 32px;
  margin-bottom: 0;
}

.overview_types {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin-top: 4px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.overview_overviewstats_total {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.overview_overviewstats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  text-align: center;
}

.overview_label {
  font-size: 14px;
  text-transform: capitalize;
  color: var(--text-color-secondary);
}

.details_panel {
  background-color: var(--background-color-light);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
}

.details_panel_heading {
  padding: 20px;
  padding-bottom: 0;
  margin: 0;
}

.details_panel_row {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.details_panel_row_evolve {
  display: flex;
  justify-content: flex-end;
}

.details_panel_value {
  margin-left: 5px;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details_panel_label {
  color: var(--text-color-secondary);
}

.details_panel_otherPokemon {
  padding: 20px;
}

.details_panel_otherPokemon_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 24px;
}

.details_panel_otherPokemon img {
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.details_panel_otherPokemon_image {
  text-align: center;
}

.details_panel_otherPokemon_label {
  color: var(--text-color-secondary);
  margin-bottom: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
}

.normal {
  background-color: #a8a77a;
  border-radius: 10px;
}
.fire {
  background-color: #ee8130;
  border-radius: 10px;
}
.water {
  background-color: #6390f0;
  border-radius: 10px;
}
.electric {
  background-color: #f7d02c;
  border-radius: 10px;
}
.grass {
  background-color: #7ac74c;
  border-radius: 10px;
}
.ice {
  background-color: #96d9d6;
  border-radius: 10px;
}
.fighting {
  background-color: #c22e28;
  border-radius: 10px;
}
.poison {
  background-color: #a33ea1;
  border-radius: 10px;
}
.ground {
  background-color: #e2bf65;
  border-radius: 10px;
}
.flying {
  background-color: #a98ff3;
  border-radius: 10px;
}
.psychic {
  background-color: #f95587;
  border-radius: 10px;
}
.bug {
  background-color: #a6b91a;
  border-radius: 10px;
}
.rock {
  background-color: #b6a136;
  border-radius: 10px;
}
.ghost {
  background-color: #735797;
  border-radius: 10px;
}
.dragon {
  background-color: #6f35fc;
  border-radius: 10px;
}
.dark {
  background-color: #705746;
  border-radius: 10px;
}
.steel {
  background-color: #b7b7ce;
  border-radius: 10px;
}
.fairy {
  background-color: #d685ad;
  border-radius: 10px;
}
@media screen and (min-width: 720px) {
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }

  .container_left {
    grid-column: 1 / span 4;
  }

  .container_right {
    grid-column: 5 / span 8;
  }
}
